<div class="footer">
    <p>
         <span>Copyright©2016&nbsp;&nbsp;黑夜&nbsp;&nbsp;版权所有</span>
    </p>
</div>
<script src="res/layui/layui.js"></script>
<script>
    layui.config({
        base: 'res/layui/lay/modules/'
    });
</script>