<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>注册</title>
  <!-- core CSS -->
  <link href="/res/css/global.css" rel="stylesheet">
  <link href="/res/css/font-awesome.min.css" rel="stylesheet">
  <link href="/res/css/layui.css" rel="stylesheet">
  <link id="layuicss-skinlayercss" rel="stylesheet" href="/res/layui/css/modules/layer/layer.css" media="all">
  <link href="/res/css/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="res/layui/js/html5shiv.js"></script>
  <script src="res/layui/js/respond.min.js"></script>
  <![endif]-->
</head>
<!--头部-->
<body class="homepage">
  <div class="header">
    <div class="main">
      <h1> <a href="/" title="">遗落阁</a></h1>           
    </div>
  </div>
  <!--头部结束-->
  <div class="main layui-clear">
    <div class="wrap">
      <div class="layui-form layui-form-pane">
        <div class="fox-width-m">
          <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
            <li class="layui-this">会员注册</li>
            <li><a href="/login">会员登陆</a></li>        
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item padding layui-show">
                <form method="post" class="layui-form">
                  <div class="fox-form" style="margin-top:20px">
                    <fieldset class="layui-elem-field layui-field-title">
                      <legend>会员注册</legend>
                    </fieldset>
                    <div class="layui-form-item">
                       <label for="username" class="layui-form-label">用户名</label>
                      <div class="layui-input-block">
                        <input type="text" class="layui-input" name="username" id="username" lay-verify="username" autocomplete="off" placeholder="请输入用户帐号" />
                        <i class="icon icon-user"></i>
                      </div>
                        <div class="layui-form-mid layui-word-aux">用户名为6-16位，以字母开头，只能包含字母数字下划线</div>
                    </div>

                    <div class="layui-form-item">
                   <label for="password" class="layui-form-label">密码</label>
                      <div class="layui-input-block">
                        <input type="password" class="layui-input" name="password" id="password" lay-verify="password" autocomplete="off" placeholder="请输入密码" />
                        <i class="icon icon-key"></i>
                      </div>
                      <div class="layui-form-mid layui-word-aux">密码6-16位，只能包含字母数字下划线</div>
                    </div>

                    <div class="layui-form-item">
                       <label for="repassword" class="layui-form-label">确认密码</label>
                      <div class="layui-input-block">
                        <input type="password" class="layui-input" name="repassword" id="repassword" lay-verify="repassword" autocomplete="off" placeholder="请重复密码" />
                        <i class="icon icon-key"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="field">
                        <button class="layui-btn button-block" lay-submit="" lay-filter="login" id="register">立即注册</button>
                        <a class="layui-btn" href="/login" >我要去登陆</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include include_footer %>
<script>
  layui.use(['layer'], function() {
    var layer = layui.layer,
    $ = layui.jquery;

    //点击添加分类
    $('#register').on('click', function() {
      var username=$("#username").val();
      var password=$("#password").val();
      var repassword=$("#repassword").val();

      //测试用户是否录入信息
      if(username==""||password==""||repassword==""){
        layer.alert('请将信息填写完整', {icon: 2});
        return false;
      }

      $.post("/register",{
        "username" : $("#username").val(),
        "password" : $("#password").val(),
        "repassword" : $("#repassword").val()
      },function(result){
        if(result.status==="-1"){
          layer.alert('用户格式不正确', {icon: 2});
        }else if(result.status==="-2"){
          layer.alert('密码格式不正确', {icon: 2});
        }else  if(result.status==="-3"){
          layer.alert('两次密码不一致', {icon: 2});
        }else if(result.status==="-4"){
          layer.alert('用户已存在', {icon: 2});
        }else if(result.status==="-5"){
          layer.alert('系统错误,请刷新', {icon: 2});
        }else{
          layer.alert('注册成功,请登录', {icon: 1});
        }
      });
      return false;
      //这句话的意思不会刷新当前页面。避免清空内容
    });
  });
</script>
<!--<script type="text/javascript">-->
<!--$("input").focus(function(){-->
<!--$("#cuowukuang").fadeOut();-->
<!--});-->
<!--$("#register").click(function(){-->
<!--//注册按钮的事件，用ajax提交表单-->
<!--$.post("/register",{-->
<!--"username" : $("#username").val(),-->
<!--"password" : $("#password").val(),-->
<!--"repassword" : $("#repassword").val()-->
<!--},function(result){-->
<!--if(result.status.status === "-3"){-->
<!--$("#cuowukuang").fadeIn();-->
<!--$("#cuowukuang").html("获取用户数据失败,请刷新页面!");-->
<!--}else if(result.status === "-1"){-->
<!--//用户名被占用-->
<!--$("#cuowukuang").fadeIn();-->
<!--$("#cuowukuang").html("用户名为6-12位，以字母开头，只能包含字母数字下划线");-->

<!--}else if(result.status === "-5"){-->
<!--//用户名被占用-->
<!--$("#cuowukuang").fadeIn();-->
<!--$("#cuowukuang").html("密码6-16位，只能包含字母数字下划线");-->

<!--}else if(result.status === "-2"){-->
<!--//用户名被占用-->
<!--$("#cuowukuang").fadeIn();-->
<!--$("#cuowukuang").html("两次密码不匹配，请重新输入！");-->

<!--}else if(result.status === "-4"){-->
<!--//用户名被占用-->
<!--$("#cuowukuang").fadeIn();-->
<!--$("#cuowukuang").html("用户名被占用啊！");-->
<!--}else{-->
<!--//注册成功-->
<!--$("#cuowukuang").html("用户名为6-12位，以字母开头，只能包含字母数字下划线");-->
<!--alert("注册成功！点击确认回到首页");-->
<!--location.href ="/"-->
<!--}-->
<!--});-->
<!--return false;-->
<!--});-->
<!--</script>-->


</body>
</html>

