/*头部底部*/
.header{color:#fff;opacity:.95;filter:alpha(opacity=95);background-color:#009688}
.header a{color:#fff}
.header .main h1{position:absolute;top:18px;left:0px;font-size:25px;line-height:25px}
@media screen and (max-width:980px){.header .main h1{left:18px}
}
.nav-user{position:absolute;top:14px;right:0}
@media screen and (max-width:550px){.nav-user{right:10px}
}
.footer{line-height:0;color:#fff;opacity:.9;filter:alpha(opacity=90);background-color:#009688}
.footer a{color:#fff}

/*登陆注册*/
.fox-width-m{max-width:500px;margin:0 auto;margin-top:50px}
.fox-form .layui-input-block i{position:absolute;right:10px;top:10px;color:#ccc}
.fox-width-m .layui-tab-card>.layui-tab-title li{font-size:16px;padding:0 20px}
.fox-width-m .layui-tab-content{padding:20px}
.passcode{position:absolute;right:0;top:0;height:35px;margin:1px;border-left:solid 1px #ddd;text-align:center;line-height:32px;border-radius:0 4px 4px 0}
.pagination li{margin:1px}
.pagination a{color:#333;padding:8px 12px;line-height:18px;display:block;transition:all 1s cubic-bezier(.175,.885,.32,1) 0s;border-radius:100%}
.pagination .active,.pagination a:hover,.pagination li{border-radius:100%}

/*主体区域*/
.pagination .active a{font-weight:700;font-size:18px;color:#fff;background:#009688}
.fly-list .fly-list-li{padding:45px 10px;height:14px}
.fly-list-li{border:1px solid #ccc;box-shadow:1px 1px 1px #ccc;position:relative}
.fly-list-li img{margin:40px 0 0 20px;float:left}
.fly-list-li1 p span{padding-right:5px}
@media screen and (max-width:750px){.fly-list-li h2 a{max-width:95%}
}
.fly-list-li h2{width:85%;position:absolute;top:10px;left:25px}
.fly-list-li p{float:left;margin-left:80px}
.fly-h{color:#ccc;display:block;position:absolute;top:70px;right:25px}
.denglu{margin:60px 12px 60px 12px;padding:52px 47px 10px 10px;border:1px solid #ccc;box-shadow:1px 1px 2px #ccc}
.user-tab span a{padding:0 30px}
.avatar-add p{position:absolute;top:70px;width:82%;margin-top:10px;font-size:12px;text-align:center;color:#999;margin-left:28px}
.avatar-add{position:relative;width:297px;height:373px;background-color:#F2F2F5}
.nav-user .nav{top:4px}
.jieda-admin{top:-16px}
.layui-btn1{font-size:15px;height:30px;line-height:30px;padding:0 4px}
.jcrop-holder #preview-pane{display:block;position:absolute;z-index:1;top:60px;right:-280px}
@media screen and (max-width:500px){.layui-btn2{float:left;margin-top:110px}
.jcrop-holder #preview-pane{top:210px;right:88px}
}
@media screen and (max-width:750px){.fly-list-hint,.fly-tab1,.nav{display:block}
}
.fly-main{position:relative;width:100%;margin:0 auto}
.home-left{width:100%;float:left}
.jie-row li .jie-tit{overflow:hidden;text-overflow:ellipsis;width:45%}
.jie-row li .jie-tit{overflow:hidden;width:45%}
@media screen and (max-width:750px){.home-left{width:100%}
}
.fly-list-one li{position:relative;top:0;right:0}
.pop{position:absolute;top:0;right:0}
.jieda-reply span i{margin-right:1px;font-size:14px}
body .leifeng-rank{width:99%;margin-left:0;margin-top:10px;margin-bottom:5px}
body .leifeng-rank span a{width:78px;height:98px;margin:10px 5px 10px 5px}
.user-looklog{margin-top:20px;text-align:center;border:1px solid #ccc;box-shadow:1px 1px 1px #ccc}
.fly-list-one{margin:10px 0;padding:10px;border:1px solid #ccc;box-shadow:1px 1px 1px #ccc}
.edge .page-title{opacity:.9;filter:alpha(opacity=90);background-color:#009688}

/*赞，踩*/
.cai{padding:5px 0 0 25px;background:url(/res/images/dislike1.png) no-repeat;background-size:22px 22px}
.cai_v{padding:5px 0 0 25px;background:url(/res/images/dislike2.png) no-repeat;background-size:22px 22px}
.cai:hover{background:url(/res/images/dislike2.png) no-repeat;background-size:22px 22px}

/*分页*/
.laypage-main{margin:20px 0;border:0;font-size:0}
.laypage-main a{padding:0 20px;line-height:36px;border:1px solid #009E94;font-size:14px;margin:0 3px}